@media(max-width: 1200px){
h1, .h1{
    font-size: calc(1.375rem + 1.5vw);
}
}

@media(max-width: 1200px){
    h3, .h3{
        font-size: calc(1.3rem + 0.6vw);
    } 
}

@media(max-width: 1200px){
    h4, .h4{
        font-size: calc(1.275rem + 0.3vw);
    } 
}

@media(max-width: 1200px){
    .dispiay-1{
        font-size: calc(1.725rem + 5.7vw);
    } 
}

@media(min-width: 576px){
    .container, .container-sm{
        max-width: 540px;
    }
}

@media(max-width: 1200px){
    .dispiay-4{
        font-size: calc(1.475rem + 2.7vw);
    } 
}

@media(max-width: 1200px){
    .dispiay-2{
        font-size: calc(1.675rem + 5.1vw);
    } 
}

@media(max-width: 1200px){
    .dispiay-3{
        font-size: calc(1.575rem + 3.9vw);
    } 
}

@media(min-width: 768px){
    .container, .container-sm, .container-md{
        max-width: 720px;
    }
}

@media(max-width: 575.98px){
    .table-responsive-sm{
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
        border: 0;
    }
}

@media(max-width: 767.98px){
    .table-responsive-md{
        display: block;
        width: 100%;
        overflow-x: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    
    }
    .table-responsive-md > .table-bordered {
        border: 0;
    }
}

@media(min-width: 992px){
    .container, .container-sm, .container-md, .container-lg{
        max-width: 960px;
    }
}

@media(min-width: 992px){
    .container, .container-sm, .container-md, .container-lg, .container-xl{
        max-width: 1140px;
    }
}

@media(max-width: 991.98px){
    .table-responsive-lg{
        display: block;
        width: 100%;
        overflow-x: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    
    }
    .table-responsive-lg > .table-bordered {
        border: 0;
    }
}

@media(max-width: 1199.98px){
    .table-responsive-xl{
        display: block;
        width: 100%;
        overflow-x: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    
    }
    .table-responsive-xl > .table-bordered {
        border: 0;
    }
}

@media(prefers-reduced-motion: reduce){
    .from-control{
        transition: none;
    }
}

@media(prefers-reduced-motion: reduce){
    .btn{
        transition: none;
    }
}

@media(prefers-reduced-motion: reduce){
    .fade{
        transition: none;
    }
}

@media(prefers-reduced-motion: reduce){
    .collapsing{
        transition: none;
    }
}

